body {
  background-color: #19191c;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;

  & rect.bar {
    fill: #00022e;

    &:hover {
      fill: #286086;
    }
  }

  & div.tooltip {
    position: absolute;
    background-color: rgba(20, 20, 20, 255);
    padding: 5px;
    border-radius: 10px;
  }
}